
    .profile-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px;

        .study-form, .skill-form, .project-form {
          width: 80%;
          margin: 30px 0;
        }

        .skill-form, .project-form {
          display: flex;
          flex-wrap: wrap;
          width: 80%;

          .form-container, .skills-container, .projects-container {
            width: 100%;
          }

          .skills-container, .projects-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            mat-card {
              margin: 10px 10px;
              width: 25%;

              mat-card-actions {
                display: flex;
                justify-content: flex-end;
              }
            }
          }
        }

        form {
          mat-form-field {
            width: 100%;
          }
        }
      }



.flexContainer {
    display: flex;
       flex-flow: column;
       margin: 50px;
   }




   .flexContainerAddDeep {
    display: flex;
    flex-flow: column;
    margin: 50px;

   }



   table {
    width: 100%;
  }


  .register-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 30px 0;

    form {
      width: 40%;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }

      input[type=number] {
          -moz-appearance:textfield; /* Firefox */
      }

      mat-form-field, button {
        width: 100%;
      }

      mat-hint {
        display: block;
        margin-bottom: 20px;
      }
    }




      @media (max-width: 425px) {

      }

      // .flexContainer {
      //     display: flex;
      //        flex-flow: row;
      //        height: 40%;
      //    }

      //    .flexContainerCard {
      //     display: flex;
      //        flex-flow: row;
      //    }

      // .flexContainerRight {
      //  display: flex;
      //  justify-content: space-between;

      //     flex-flow: column;
      //     width: 50%;
      //     margin: 30px;
      //     height: 40%;
      // }

      // .flexContainerLeft {
      //     display: flex;
      //        flex-flow: column;
      //        justify-content: space-between;

      //        width: 50%;
      //        margin: 30px;
      //        height: 40%;

      //        .saveButton {
      //         width:150px;
      //       }


      //    }





      //    .example-card {
      //     max-width: 400px;
      //     margin: 50px;
      //   }

      //   .example-header-image {
      //     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      //     background-size: cover;
      //   }




  }


  .groupTabs {
    min-height: 800px;
  }
