.register-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 30px 0;

  form {
    width: 40%;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }

    mat-form-field, button {
      width: 100%;
    }

    mat-hint {
      display: block;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 425px) {
  .register-container {
    form {
      width: 80%;
    }
  }
}
